* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:global {
    #root {
        padding: 15px;
    }
}

.container {
    width: 300px;
    margin: auto;
}

.item {
    border: 1px dashed #ccc;
    background-color: white;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: move;
}

.isDragging {
    border-color: #337dbc;
    background-color: #dbedff;
}